.btn {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
  margin: 0.2rem;
}

.btn:hover {
  background: white;
  color: #001322;
}
