.btn {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.2rem;
  outline: none;
}

.btn:hover {
  background: white;
  color: #001322;
}

.active {
  background: white;
  color: #001322;
}
