.container {
  display: flex;
  justify-content: center;
  width: 20%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btn {
  background: none;
  color: #00b0ff;
  outline: none;
  border: 2px solid #00b0ff;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.container :last-child {
  margin-left: 1rem;
}
.btn:hover {
  background: #00b0ff;
  color: #ffffff;
}
