.container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 2px solid rgb(212, 212, 212);
  background-color: #011627;
}

.brand {
  display: flex;
  align-items: center;
}

.brandName {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  color: #ececec;
}

.logo {
  width: 20%;
}
