.container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 2px solid #01111f;
  background-color: #021b30;
}

.brand {
  display: flex;
  align-items: center;
}

.brandName {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

.logo {
  width: 20%;
}
