.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieInfoContainer {
  display: flex;
  width: 80%;
  margin-top: 2rem;
}

.heading {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .movieInfoContainer {
    flex-wrap: wrap;
  }
}
