.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 3.5rem;
}
.text:last-child {
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #00b0ff;
}

.image {
  width: 500px;
}
